.profileWrap{
    margin: 0 40px 0 140px;
}
@media screen and (max-width: 768px) {
    .profileWrap{
        margin: 0 15px 40px 15px;
    }
}
@media screen and (max-width: 460px) {
    .profileWrap{
        margin: 0 15px 40px 15px;
    }
}
.profileInputWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: end;
}
@media screen and (max-width: 768px) {
    .profileInputWrap{
        justify-content: center;
        flex-direction: column;
        align-items: start;
    }
}
@media screen and (max-width: 460px) {
    .profileInputWrap{
        width:100%;
    }
}
.profileForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
@media screen and (max-width: 768px) {
    .profileForm{
        align-items: center;
    }
}
.parentPromotion{
    background-color: #F8F9FB;
    padding: 16px 24px 16px 24px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
}
@media screen and (max-width: 768px) {
    .parentPromotion{
        margin: 0 3vw;
    }
}
.parentPromotion>p>span{
    font-weight: 600;
    font-size: 18px;
}