.about-us__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 100px;
  padding: 0 40px 80px 40px;
}

@media screen and (max-width: 768px) {
  .about-us__list {
    margin-left: 0;
    padding: 0 16px 40px 16px;
  }
}
