/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.sideBar {
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  position: fixed;
}
.sideBar::-webkit-scrollbar {
  width: 3px; /* Ширина всего элемента навигации */
}

.sideBar::-webkit-scrollbar-track {
  background: #fff; /* Цвет дорожки */
}

.sideBar::-webkit-scrollbar-thumb {
  background-color: rgb(17, 187, 209); /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 3px solid rgb(17, 187, 209); /* Оформление границ бегунка */
}
.sideBarScroll{
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
}
.sideBarScroll::-webkit-scrollbar {
  width: 3px; /* Ширина всего элемента навигации */
}

.sideBarScroll::-webkit-scrollbar-track {
  background: #fff; /* Цвет дорожки */
}

.sideBarScroll::-webkit-scrollbar-thumb {
  background-color: rgb(17, 187, 209); /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 3px solid rgb(17, 187, 209); /* Оформление границ бегунка */
}
.firstBlock {
  border-bottom: 1px solid #e5e5e5;
}

.nav {
  padding: 80px 0 0 0;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navLinkExit {
  height: 48px;
  margin: 104px 0 40px 0;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  .sideBar {
    display: none;
  }
}