.nav-bar {
  width: 100%;
  background-color: #fff;
}

.nav-bar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-bar__user-info-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  padding: 0 16px;
}

.nav-bar__nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px 0;
  padding: 0 16px;
}

.nav-bar__social-list {
  display: flex;
  gap: 40px;
  border-top: 1px solid #e5e5e5;
  padding: 40px 16px;
}
