/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.ordersWrap {
    margin: 0 25px 0 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .ordersWrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .ordersWrap {
        margin: 0 15px 40px 15px;
    }
}

@media screen and (max-width: 460px) {
    .ordersWrap {
        margin: 0 15px 40px 15px;
    }
}

.titleWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.galleryTitle {
    color: #090909;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding: 60px 40px 40px 0;
    position: relative;
}

@media screen and (max-width: 768px) {
    .galleryTitle {
        margin-left: 0;
        padding: 40px 20px 40px 0;
    }
}
.photosGallery{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imgWrap{
    padding: 10px;
    border-radius: 8px;
    border:1px solid rgb(229, 229, 229);
}
.imgWrap>img{
    width: 174px;
    height: 260px;
}
.btnWrap{
    display: flex;
    justify-content: end;
}
.galleryBtn{
    background-color: rgb(17, 187, 209);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    width: 200px;
}
.galleryItemWrap{
    display: flex;
    flex-direction: column;
    gap: 25px;
}