.ordersWrap{
    margin-left: 200px;
}
.mainButton{
    background-color: rgb(17, 187, 209);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
}
.addOrderBtn{

}