/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.ordersWrap {
    margin: 0 0 0 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .ordersWrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .ordersWrap {
        margin: 0 15px 40px 15px;
    }
}

@media screen and (max-width: 460px) {
    .ordersWrap {
        margin: 0 15px 40px 15px;
    }
}

.orderWidggetWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 30px;
}

@media screen and (max-width: 968px) {
    .orderWidggetWrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
    }
}

.mainButton {
    background-color: rgb(17, 187, 209);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    flex-shrink: 0;
}

.profileTitle {
    color: #090909;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    padding: 60px 40px 40px 0;
    position: relative;
}

@media screen and (max-width: 768px) {
    .profileTitle {
        margin-left: 0;
        padding: 40px 20px 40px 0;
    }
}

.photoCardsWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 24px;
    position: relative;
}

.photoCardsForm {
    position: relative;
}

.photoCardsFormBlur {
    position: relative;
}

.photoCardsFormBlur::after {
    content: "";
    position: absolute;
    inset: 0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

@media (max-width: 1440px) {
    .photoCardsWrap {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .photoCardsWrapBlur {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.orderPromoWrap {
    margin-bottom: 24px;
    /* margin-right: 40px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
}

@media (max-width: 1670px) {}

@media (max-width: 1440px) {
    .orderPromoWrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.orderPromo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 8px;
    padding: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 80px;
}
@media (max-width: 1205px){
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 152px;
    }
}
@media (max-width: 1030px){
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 206px;
    }
}
@media (max-width: 968px){
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 80px;
    }
}

@media (max-width: 816px){
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 152px;
    }
}
@media (max-width: 768px){
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 80px;
    }
}
@media (max-width: 705px){
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 152px;
    }
}
@media (max-width: 527px){
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 206px;
    }
}
/* @media (max-width: 487px){
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 206px;
    }
} */
@media (max-width: 460px){
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 194px;
    }
}
@media (max-width: 380px) {
    .orderPromo {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-top: 194px;
    }
}
.orderPromoPromocode{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 8px;
    padding: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
@media (max-width: 380px) {
    .orderPromoPromocode {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }
}
.promoStringWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.promoStringWrap:nth-child(1)>span {
    margin-right: 16px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(17, 187, 209);
    margin-right: 8px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.promoInput {
    padding: 12px 16px;
    border: 1px solid rgb(229, 229, 229);
    outline: none;
    border-radius: 8px;
    width: 100%;
}
.promoInputActive {
    padding: 12px 16px;
    border: 1px solid rgb(229, 229, 229);
    outline: none;
    border-radius: 8px;
    width: 100%;
}

.promoInput::-webkit-input-placeholder {
    color: rgb(110, 110, 110);
    font-size: 15px;
}

.promoInput::-moz-placeholder {
    color: rgb(110, 110, 110);
    font-size: 15px;
}

.promoInput:-ms-input-placeholder {
    color: rgb(110, 110, 110);
    font-size: 15px;
}

.promoInput::-ms-input-placeholder {
    color: rgb(110, 110, 110);
    font-size: 15px;
}

.promoInput::placeholder {
    color: rgb(110, 110, 110);
    font-size: 15px;
}
.promoInputActive::-webkit-input-placeholder {
    color:#11bbd1;
    font-size: 15px;
}

.promoInputActive::-moz-placeholder {
    color:#11bbd1;
    font-size: 15px;
}

.promoInputActive:-ms-input-placeholder {
    color: #11bbd1;
    font-size: 15px;
}

.promoInputActive::-ms-input-placeholder {
    color: #11bbd1;
    font-size: 15px;
}

.promoInputActive::placeholder {
    color: #11bbd1;
    font-size: 15px;
}

.promoInputWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

@media (max-width: 380px) {
    .promoInputWrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
}

.promoInputWrap>span {
    color: rgb(17, 187, 209);
    font-size: 15px;
}

.deleteBlockBtn {
    border: 1px solid rgb(17, 187, 209);
    color: rgb(17, 187, 209);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
}

.addBtnWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin-bottom: 24px;
}

.paymentTimerWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* padding: 0px 40px 0px 40px; */
    gap: 80px;
    border-left: 1px solid rgb(229, 229, 229);
}

@media screen and (max-width: 968px) {
    .paymentTimerWrap {
        border: none;
    }

    .paymentTimerWrap>div {
        border: none;
    }
}

.promoButtonWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
}

.promoButtonWrap>span {
    color: rgb(110, 110, 110);
    font-size: 15px;
    flex-shrink: 0;
}

.orderWidggetContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 40px;
    gap: 30px;
}

@media (max-width: 520px) {
    .orderWidggetContainer {
        margin: 0;
    }
}

.qrCodeBtn {
    background-image: url(../../assets/images/Auth/6e45a5a3e5fadc8600c67a0aaaa5f737.png);
    background-size: 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 260px;
}

.bookCheckbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 8px;
    justify-content: space-between;
    padding: 12px 16px;
    align-items: center;
}

#bookCheckbox {
    accent-color: #11BBD1;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.mailLink {
    color: #11BBD1;
    margin: 0 5px;
}

.errMessage {
    background-color: #F8F9FB;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.buttonAddKidsWrap {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
   
}

@media (min-width: 360px) and (max-width: 767px) {
    .buttonAddKidsWrap {
        display: flex;
        gap: 25px;
        align-items: start;
        margin-bottom: 50px;
        flex-direction: column;
    }
}

.widgetDelete {
    position: absolute;
    width: 100%;
    right: 0;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}
@media screen and (max-width: 460px) {
    .widgetDelete {
        flex-direction: column;
        gap: 15px;
    }
}
.checkboxInputWrap{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.bookDescr{
    white-space: nowrap;
    margin-right: 5px;
}

.custom_checkbox {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

/* Скрытие стандартного чекбокса */
.custom_checkbox input[type="checkbox"] {
    display: none;
}

/* Стили для кастомного чекбокса */
.checkbox {
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Синий цвет */
    border: 1px solid #11BBD1;
    border-radius: 5px; /* Закругление краев */
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.2s;
}

/* Стили для галочки */
.checkmark {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -65%) rotateY(180deg) rotateZ(45deg);
}

/* Показ галочки при активном состоянии чекбокса */
.custom_checkbox input[type="checkbox"]:checked + .checkbox {
    background-color: #11BBD1; /* Более темный синий цвет при активации */
}

.custom_checkbox input[type="checkbox"]:checked + .checkbox .checkmark {
    display: block; /* Показать галочку */
}
