/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.container {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 16px 40px 16px 40px;
  margin: 0 auto;
}

.leftBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  cursor: pointer;
}

.userInfoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.rightBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.search {
  max-width: 240px;
}

.bellButton {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/bell.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.linkToAuth>a{
  color: #11bbd1;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .header {
    border-bottom: none;
  }

  .openMenu {
    height: 100%;
    position: fixed;
    overflow-y: auto;
    z-index: 999;
  }

  .barCloseButton {
    width: 19.2px;
    height: 19.2px;
    background-image: url(../../assets/images/cross.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .userInfoList {
    display: none;
  }

  .rightBlock {
    display: none;
  }

  .container {
    padding: 8px 20px;
  }
  .linkToAuth>a{
    display: none;
  }
}

