.side-bar__nav-item {
  width: 100px;
  height: 64px;
}

.side-bar__nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.side-bar__nav-item.active {
  border-right: 1px solid #11bbd1;
}
